* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: grid;
    grid-template-columns: 1fr 3fr;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
}

.side-bar {
    width: 30vw;
    height: 100vh;
    background-color: blue;
    padding: 3rem;
}

.todos {
    background-color: beige;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.todos > div {
    border: 2px solid black;
    padding: 1rem;
}

.title {
    color: red;
    font-size: calc(0.7rem + 1vw);
}

.desc {
    font-weight: 400;
}